<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Color">

        <activity android:name=".consulta_recyclerView"
            android:label="RecyclerView"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".detalle_articulos"
            android:label="Detalle Articulos"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".list_view_articulos"
            android:label="ListViewArticulos"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".consulta_spinner"
            android:label="Spinner"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".datos"
            android:label="Mis datos"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="Guia SQLite SIS21A"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>